body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Container styles */
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Input container styles */
.input-container {
    margin-bottom: 20px;
}

/* Form styles */
form {
    display: flex;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* List container styles */
.list-container {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

/* List item styles */
li {
    margin-bottom: 10px;
    list-style-type: none;
}

/* Remove button styles */
button.removeButton {
    padding: 5px 10px;
    background-color: #f44336;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.removeButton:hover {
    background-color: #d32f2f;
}


.removeButton {
    padding: 5px 10px;
    background-color: #f44336;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.removeButton:hover {
    background-color: #d32f2f;
}

.unorderedlist {
    display: flex;
    justify-content: space-between;
}